extends layoutOnline

block content
    div(class="bgimg")
        center
            div(class="w3-display-middle")
                h1(class="w3-jumbo w3-animate-top") Social Bike Store
                hr(class="w3-border-grey" style="margin:auto;width:40%")
                br
                br
                center
                    p With the significant increase in the price of fuel and taxes on the sale and circulation of automobiles, many people have been looking for alternatives to their daily mobility. One of the solutions is to acquire a two-wheeled vehicle that, in addition to the low acquisition and maintenance costs, compared to an automobile, also has advantages in the displacement capacities, being possible to avoid queues and to park anywhere.