extends layoutOffline

block content
    div(class="bgimg")
        center
            div(class="w3-display-middle")
                h1(class="w3-jumbo w3-animate-top") Social Bike Store
                hr(class="w3-border-grey" style="margin:auto;width:40%")
                br
                br
                center
                    p A Social Bike Store é uma rede social, lançada a 25 de janeiro de 2019, por uma equipa de alunos da Universidade do Minho, no âmbito da unidade curricular de Desenvolvimento de Aplicações Web. Mais treta....
