doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport" content="width = device-width, initial-scale = 1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css")
    script(src="/scripts/jquery.js")
    script(src="/scripts/posts.js")
    script(src="/scripts/editPhoto.js")
    style
      include ../public/stylesheets/home.css
  body(style="padding:0")
    nav(class="navbar navbar-inverse navbar-fixed-top")
      div(class="container-fluid")
        div(class="navbar-header")
          a(class="navbar-brand" href="/") Social Bike Store
        ul(class="nav navbar-nav navbar-right")
          li
            a(href="/paginaRegisto")
              span(class="glyphicon glyphicon-user") Registar
          li
            a(href="/login")
              span(class="glyphicon glyphicon-log-in") Login
    block content