doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport" content="width = device-width, initial-scale = 1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/w3.css')
    script(src="/scripts/jquery.js")
    script(src="/scripts/posts.js")
    script(src="/scripts/editPhoto.js")
  body(style="background-color:#cccccc")
      block content
      