extends layoutOffline

block content
    div(class="bgimg")
        .w3-container.w3-padding-64
            h2 Registar
            .w3-container
                form.w3-container(method='POST' action='/users/registo')
                    label
                        b Email
                    input.w3-input(type='text' name='email' required)
                    label
                        b Password
                    input.w3-input(type='password' name='password' required)
                    label
                        b Nome
                    input.w3-input(type='text' name='name' required)
                    label
                        b Data Nascimento
                    input.w3-input(type='date' name='birth' required)
                    label
                        b Número telemóvel
                    input.w3-input(type='text' name='cellPhone' pattern="9[0-9]{8}" required)
                    label
                        b Cidade
                    input.w3-input(type='text' name='city' required)
                    label
                        b Distrito
                    input.w3-input(type='text' name='district' required)
                    label
                        b Nacionalidade
                    input.w3-input(type='text' name='nationality' required)
                    br
                    input.w3-btn.w3-light-grey.w3-border(type="submit" value="Registar" onclick="location.href='/'")