extends layout

block content
    .w3-row.w3-light-grey(style="height:30%")
        .w3-col.l6.m6
            h1 Social Bike Store
    .w3-row(style="height:70%")
        .w3-col.l6.m6
            .w3-container
                .w3-card-4
                    header.w3-container.w3-light-grey.w3-border
                        h2 Register
                    .w3-container
                        form.w3-container(method='POST' action='/registo')
                            label
                                b Email
                            input.w3-input(type='text' name='email' required)
                            label
                                b Password
                            input.w3-input(type='password' name='password' required)
                            label
                                b Name
                            input.w3-input(type='text' name='name' required)
                            label
                                b Birthday
                            input.w3-input(type='date' name='birth' required)
                            label
                                b Cellphone Number
                            input.w3-input(type='text' name='cellPhone' pattern="9[0-9]{8}" required)
                            label
                                b City
                            input.w3-input(type='text' name='city' required)
                            label
                                b District
                            input.w3-input(type='text' name='district' required)
                            label
                                b Nationality
                            input.w3-input(type='text' name='nationality' required)
                            input.w3-btn.w3-light-grey.w3-border(type="submit" value="Registar")
                        