extends layoutOnline

block content
    div(class="bgimg")
        .w3-row.w3-padding-64
            form.w3-container(method='POST' action='/posts/novoPost/'+user._id enctype="multipart/form-data")
                .w3-col.l6.m6
                    .w3-container
                            header.w3-container.w3-border
                                h2 Choose your bike
                            .w3-container
                                    p
                                        label
                                            b Make
                                        p
                                            select.w3-select-bigger(name='make' id='makemenu' class="w3-select" required)
                                                option(value="" disabled select) ---
                                    p
                                        label
                                            b Model
                                        p
                                            select.w3-select-bigger(name='model' id='modelmenu' class="w3-select")
                                    label
                                        b Year
                                    p
                                        select.w3-select-bigger(name='year' id='yearmenu' class='w3-select' required)
                                            option(value="" disabled select) Year
                                    label
                                        b Month
                                    p
                                        select.w3-select-bigger(name='month' id='monthmenu' class="w3-select" required)
                                            option(value="" disabled select) Month
                                    br
                .w3-col.l6.m6
                    .w3-container
                            header.w3-container.w3-border
                                h2 Specify the details
                            .w3-container
                                    br
                                    label
                                        b Cylinder Capacity
                                    input.w3-input.w3-round-large.w3-border(type='number' name='cylinderCapacity' pattern="9[0-9]{8}" required)
                                    label
                                        b Power
                                    input.w3-input.w3-round-large.w3-border(type='number' name='power' required)
                                    label
                                        b Kilometers
                                    input.w3-input.w3-round-large.w3-border(type='number' name='kilometers' required)
                                    label
                                        b Condition
                                    input.w3-input.w3-round-large.w3-border(type='text' name='condition' required)
                                    label
                                        b Picture
                                    input.w3-input(type='file' name='picture' accept='image/*' required)
                                    br
                footer
                    .w3-container.w3-right
                        input.w3-btn.w3-light-grey.w3-border(type="submit" value="Postar")
